<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Movie_name</th>
      <th scope="col">Movie_poster</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
      <th scope="col">Recent_movie</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td><a href={{ item.actor_url }}>{{ item.name }}</td>
        <td><img width=100px src={{ item.url }} class="img-thumbnail"></td>
        <td>{{ item.desc }}</td>
        <td>{{ item.ratings }}</td>
        <td><a href={{ item.movie_url }}>{{ item.recent_movie }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
