<table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th width=120px scope="col">Actor_name</th>
      <th width=120px scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
      <th scope="col">Recent_movie</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr class="supercss">
        <td><a class="atag" href={{ item.actor_url }}>{{ item.name }}</td>
        <td><img width=100px src={{ item.url }} class="img-thumbnail"></td>
        <td>{{ item.desc|render|striptags }}</td>
        <td width=103px>
        {% if item.ratings>=2 %}
          {% for star in range(1,item.ratings) %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          {% endfor %}
        {% else %}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        {% endif %}
        {% if item.halfStarFlag %}
          <i class="glyphicon glyphicon-star half"></i>
        {% endif %}
        </td>
        <td><a class="atag" href={{ item.movie_url }}>{{ item.recent_movie }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pager }}
