{% if url %}
  <a href="{{ url }}">{{ image }}</a>
{% else %}
  {{ image }}
{% endif %}
{% if caption %}
  <div class="image-caption"><h1>{{ caption }}</h1></div>
{% endif %}
{% if caption %}
  <div class="image-caption"><Strong>{{ caption }}</strong></div>
{% endif %}
